<!doctype html>
<html>
    <head>
        <style>
            
            .SearchBar{
                position: absolute;
                border:3px solid black;
                top: 5%;
                width:99%;
                text-align: center;
            }
            
        </style>
    </head>
    <body>
        <div class=SearchBar>
            <h1>Search</h1>
                <form action="/result/" method="get">
                    <input size=50 type="text" name="keyword" id="keyword"/>
                </form>
        </div>
    </body>
</html>